<body>

    <app-header></app-header>

    <!-- SCROLL UP BUTTON -->

    <div class="goUpBtn">
        <a href="#"><img src="../../../assets/img/UP.png"></a>
    </div>

<!-- BANNER PRINCIPAL LANDING -->

    <div class="cuerpo-landing" id="inicio">
        <div class="primera-seccion">
            <div class="img-banner">
                <img  src="../../../assets/img/imagen-banner.png">
            </div>
            <div class="contenido-banner">
                <div class="texto-banner">
                    <p>Haz del agua un uso más responsable</p>
                    <h1>No se aprecia el valor del agua <br> hasta que se seca el pozo</h1>
                </div>
                <div class="boton-banner">
                    <button class="btn-banner" routerLink="" fragment="contacto">CONTACTO</button>
                </div>
            </div>
        </div>
    </div>
<!-- 1er SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>Hacemos de tu riego una certificación responsable</h2>
    </div>
</article>

<!-- SUB-CUERPO 1 -->
    
    <div class="cuerpo1"  id="producto">
        
        <div class="container">
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>MEDICIONES</h2>
                    <p>Te ayudamos a tener un mayor control de tu invernadero controlando cada uno de los parametro necesarios para el correcto crecimiento de los cultivos.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>GESTION LABORAL</h2>
                    <p>Te acercamo el control de tu finca al mundo digital, teniendo un control de cada tarea, incidencia o de la jornada laboral.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>TRABAJADORES</h2>
                    <p>Da de alta a tus trabajadores y asígnales tareas para realizar dentro de su jornada laboral. El trabajador puede controlar su horario de trabajo.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>INVERNADEROS</h2>
                    <p>Utiliza los controles que te ofrecemos para poder manejar los actuadores de riego, ventilación y apertura de ventanas.</p>
                </div>
            </div>
        </div>

        <div class="texto-cuerpo1">
            <p>Toda la información de tu explotacion al alcance de tu mano</p>
            <h2>NUESTROS DISPOSITIVOS</h2>
        </div>
        <div class="container2">
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>TEMPERATURA</h2>
                    <p>
                        Recoge datos para tratarlos en nuestra APP
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>HUMEDAD</h2>
                    <p>
                        Compara las mediciones y toma decisiones
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>T. MATRICIAL</h2>
                    <p>
                        Verifica el estado de tus regadios en tiempo real 
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>ACTUADORES</h2>
                    <p>
                        Sistemas automatizados desde tu aplicación 
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- 2º SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>Hacemos de tu riego una certificación responsable</h2>
    </div>
</article>

<!-- SUB-CUERPO 2 -->
    <div class="cuerpo2" id="empresa">
        <div class="parte-texto">
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <div class="texto-subparte-parrafo">
                        <p>
                        Desde MyGreen tenemos muy en conciencia la sostenibilidad y el uso responsable de el agua y los residuos, por ello siempre 
                        trasmitimos a todos nuestros clientes la necesidad de concienciarse con esta filosofía y forma de vivir, todos nuestros equipos
                        cumplen con la normativa vigente del uso de plasticos y materiales reciclables.
                        </p>
                    </div>
                </div>
            </div>
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Innovación</h2>
                    <p>
                        MyGreen nace con el concepto de ayudar a los trabajadores del sector agrario, innovando en el la forma de utilizar las herramientas 
                        de medición y ayudando a certificar su usopara las nuevas normativas europeas, uno de nuestras metas es poder segir investigando nuevas 
                        formas y metodos para poder aplicarlos en este sector.
                    </p>
                </div>
            </div>
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Cooperación</h2>
                    <p>
                        En MyGreen nos apoyamos en las empresas locales para conseguir ununa ayuda mutua y asi crecer con los recursos locales apoyando a todas
                        las empresas de este ambito, obteniendo una mejor comunicación, feedback y reduciendo los conflictos que se pudieran generar por la poca
                        confianza generada.
                    </p>
                </div>
            </div>
            <!-- <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div> -->
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Compromiso</h2>
                    <p>
                        Nuestro compromiso vas mas alla que con el medio ambiente, aumentamos a nuestros trabajadores, relaciones laborales e incluso sociales,
                        responsabilizandonos en integrar tácticas, estrategias y actividades de apoyo que se diseñan para promover la prosperidad y el éxito empresarial 
                        mediante la creación de soluciones valiosas para las necesidades de la empresa.
                    </p>
                </div>
            </div>
        </div>

        <div class="parte-imagen">
            <div class="canva-cuerpo2">
                <div class="subcanva0">
                    <img src="../../../assets/img/subcanva2.png">
                </div>
                <div class="subcanva1">
                    <div class="subcanva1a">
                        <img src="../../../assets/img/subcanva1a.png">
                    </div>
                    <div class="subcanva1b">
                        <img src="../../../assets/img/subcanva1b.png">
                    </div>
                </div>
                <div class="subcanva2">
                    <img src="../../../assets/img/subcanva2.png">
                </div>
            </div>
        </div>
    </div>

<!-- 3er SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>Hacemos de tu riego una certificación responsable</h2>
    </div>
</article>

<!-- SUB - CUERPO 3 -->
    <div class="cuerpo3" id="equipo">
        <div class="texto-cuerpo3">
            <p>Descubre a los profesionales que estan detras de este proyecto</p>
            <h2>NUESTRO EQUIPO</h2>
        </div>
        <div class="equipo">

            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>Pedro Abenza</h3>
                        <p>FULL STACK DEVELOPER</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>
                            Atento y cuidadoso con el diseño de cada aplicación, es ordenado y apasionado con la maquetación,
                            le encanta innovar y aprender nuevas formas de interacción con sus aplicaciones, una persona que 
                            disfruta con cada linea q aporta a su trabajo.
                        </p>
                    </div>
                    <div class="redes">
                        <div class="canva-red">
                            <a title="Linkedin" href=""><img class="img-social-trabajador"
                                src="../../../assets/img/Facebook.png"></a>
                        </div>
                        <div class="canva-red">
                            <a title="Github" href="https://github.com/PedroAbLo"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>JUAN JOSÉ CABRERA</h3>
                        <p>FULL STACK DEVELOPER</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>
                            Trabajadoe e implicado en cada uno de sus labores a desempeñar dentro del proyecto, responsable y 
                            dedicado con su trabajo, artifice del dispositivo de medición, siempre tiene mil formas para mejorar
                            una aplicacion y nunca son malas, es una persona perseverante.

                        </p>
                    </div>
                    <div class="redes">

                        <div class="canva-red">
                            <a title="Twitter" href="http://www.twitter.com"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div> 
                        <div class="canva-red">
                            <a title="Instagram" href="http://www.instagram.com"><img class="img-social-trabajador"
                                    src="../../../assets/img/instagram.png"></a>               
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>JOSE ANTONIO ORS</h3>
                        <p>FULL STACK DEVELOPER</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>

                        </p>
                    </div>
                    <div class="redes">
                        <div class="canva-red">
                            <a title="Github" href="https://github.com/Zetsuga"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div> 
                        <div class="canva-red">
                            <a title="Linkedin" href="https://www.linkedin.com/in/jose-antonio-ors-planas-69b31194/"><img class="img-social-trabajador"
                                    src="../../../assets/img/instagram.png"></a>               
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


<!-- 4º SEPARADOR  -->

<article class="separador" >
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>Hacemos de tu riego una certificación responsable</h2>
    </div>
</article>

<!-- SUB - CUERPO 4 -->

    <div class="cuerpo4" id="contacto" >
        <div class="parteForm">
            <div class="tituloForm">
                <h2>CONTACTANOS</h2>
            </div>
      
            <div class="form">
                <span>NOMBRE</span>
                <div>
                    <input class="form-input" type="text" id="nombre-form" placeholder="  Nombre..." />
                </div> 
                <span>APELLIDOS</span>
                <div>
                    <input class="form-input" type="text" id="apellidos-form" placeholder="  Apellidos..." />
                </div>
                <span>CORREO</span>
                <div>
                    <input class="form-input" type="text" id="email-form" placeholder="  E-mail..." />
                </div>
                <span>TELÉFONO</span>
                <div>
                    <input class="form-input" type="text" id="telefono-form" placeholder="  Teléfono..." />
                </div>
                <span>COMENTARIO</span>
                <textarea name="textarea" class="textarea" placeholder="  Su comentario..." ></textarea>
                <div id="boton-form" >
                    <a class="botonMyGreen" type="button" >ENVIAR</a>
                </div>
            </div>
        </div>

        <div class="parteMapa">
            <div class="tituloMapa">
                <h2>DONDE ESTAMOS</h2>
            </div>
            <div class="mapaCanva">
                <img src="../../../assets/img/mapa.png">
            </div>
        </div>
    </div>


<!-- FOOTER -->

    <app-footer></app-footer>

</body>
