<body>

    <app-header></app-header>

<!-- BANNER PRINCIPAL LANDING -->

    <div class="cuerpo-landing">
        <div class="primera-seccion">
            <div class="img-banner">
                <img  src="../../../assets/img/imagen-banner.png">
            </div>
            <div class="contenido-banner">
                <div class="texto-banner">
                    <p>Lorem Ipsum dolor sit amet</p>
                    <h1>Lorem ipsum dolor sit amet <br> Lorem ipsum dolor sit</h1>
                </div>
                <div class="boton-banner">
                    <button class="btn-banner">CONTACTO</button>
                </div>
            </div>
        </div>
    </div>
<!-- 1er SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>No te digo trigo por no llamarte Rodrigor te voy a borrar el cerito diodenoo apetecan</h2>
    </div>
</article>

<!-- SUB-CUERPO 1 -->
    
    <div class="cuerpo1">
        
        <div class="container">
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Proin bibendum justo metus. Donec scelerisque augue in purus viverra ullamcorper.
                      Integer sagittis hendrerit ultrices.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Proin bibendum justo metus. Donec scelerisque augue in purus viverra ullamcorper.
                      Integer sagittis hendrerit ultrices.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Proin bibendum justo metus. Donec scelerisque augue in purus viverra ullamcorper.
                      Integer sagittis hendrerit ultrices.</p>
                </div>
            </div>
            <div class="card">
                <div class="canva">
                    <img src="../../../assets/img/imagen-banner.png">
                </div>
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Proin bibendum justo metus. Donec scelerisque augue in purus viverra ullamcorper.
                      Integer sagittis hendrerit ultrices.</p>
                </div>
            </div>
        </div>

        <div class="texto-cuerpo1">
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <h2>NUESTROS DISPOSITIVOS</h2>
        </div>
        <div class="container2">
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>LOREM IPSUM</h2>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Sed posuere porta blandit. 
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>LOREM IPSUM</h2>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Sed posuere porta blandit. 
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>LOREM IPSUM</h2>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Sed posuere porta blandit. 
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="canva2">
                    <img src="../../../assets/img/Icono circular1.png">
                </div>
                <div class="content2">
                    <h2>LOREM IPSUM</h2>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Sed posuere porta blandit. 
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- 2º SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>No te digo trigo por no llamarte Rodrigor te voy a borrar el cerito diodenoo apetecan</h2>
    </div>
</article>

<!-- SUB-CUERPO 2 -->
    <div class="cuerpo2">
        <div class="parte-texto">
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                </div>
            </div>
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                </div>
            </div>
            <!-- <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div> -->
            <div class="subparte">
                <div class="canva-texto">
                    <img src="../../../assets/img/Gota.png">
                </div>
                <div class="texto-subparte">
                    <h2>Sostenibilidad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                </div>
            </div>

        </div>
        <div class="parte-imagen">
            <div class="canva-cuerpo2">
                <div class="subcanva0">
                    <img src="../../../assets/img/subcanva2.png">
                </div>
                <div class="subcanva1">
                    <div class="subcanva1a">
                        <img src="../../../assets/img/subcanva1a.png">
                    </div>
                    <div class="subcanva1b">
                        <img src="../../../assets/img/subcanva1b.png">
                    </div>
                </div>
                <div class="subcanva2">
                    <img src="../../../assets/img/subcanva2.png">
                </div>
            </div>
        </div>
    </div>

<!-- 3er SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>No te digo trigo por no llamarte Rodrigor te voy a borrar el cerito diodenoo apetecan</h2>
    </div>
</article>

<!-- SUB - CUERPO 3 -->
    <div class="cuerpo3">
        <div class="texto-cuerpo3">
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <h2>NUESTRO EQUIPO</h2>
        </div>
        <div class="equipo">

            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>LORENZO SMITH</h3>
                        <p>RESPONSABLE DE CAMPO</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                            industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="redes">
                        <div class="canva-red">
                            <a title="Facebook" href="http://www.facebook.com"><img class="img-social-trabajador"
                                src="../../../assets/img/Facebook.png"></a>
                        </div>
                        <div class="canva-red">
                            <a title="Twitter" href="http://www.twitter.com"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div> 
                        <div class="canva-red">
                            <a title="Instagram" href="http://www.instagram.com"><img class="img-social-trabajador"
                                    src="../../../assets/img/instagram.png"></a>               
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>LORENZO SMITH</h3>
                        <p>RESPONSABLE DE CAMPO</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                            industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="redes">
                        <div class="canva-red">
                            <a title="Facebook" href="http://www.facebook.com"><img class="img-social-trabajador"
                                src="../../../assets/img/Facebook.png"></a>
                        </div>
                        <div class="canva-red">
                            <a title="Twitter" href="http://www.twitter.com"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div> 
                        <div class="canva-red">
                            <a title="Instagram" href="http://www.instagram.com"><img class="img-social-trabajador"
                                    src="../../../assets/img/instagram.png"></a>               
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-trabajador">
                <div class="cont-trabajador">
                    <img src="../../../assets/img/trabajador.png">
                </div>
                <div class="parteTexto-trabajador">
                    <div class="titulo-trabajador">
                        <h3>LORENZO SMITH</h3>
                        <p>RESPONSABLE DE CAMPO</p>
                    </div>
                    <div class="texto-trabajador">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                            industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="redes">
                        <div class="canva-red">
                            <a title="Facebook" href="http://www.facebook.com"><img class="img-social-trabajador"
                                src="../../../assets/img/Facebook.png"></a>
                        </div>
                        <div class="canva-red">
                            <a title="Twitter" href="http://www.twitter.com"><img class="img-social-trabajador"
                                src="../../../assets/img/twitter.png"></a>
                        </div> 
                        <div class="canva-red">
                            <a title="Instagram" href="http://www.instagram.com"><img class="img-social-trabajador"
                                    src="../../../assets/img/instagram.png"></a>               
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


<!-- 4º SEPARADOR  -->

<article class="separador">
    <div class="img-separador">
        <img src="../../../assets/img/Separador limpio.png">
    </div>
    <div class="texto-separador">
        <h1>MyGreen<span>.</span>GARDERING<span> IDEA</span></h1>
        <h2>No te digo trigo por no llamarte Rodrigor te voy a borrar el cerito diodenoo apetecan</h2>
    </div>
</article>

<!-- SUB - CUERPO 4 -->

    <div class="cuerpo4">
        <div class="parteForm">
            <div class="tituloForm">
                <h2>CONTÁCTANOS</h2>
            </div>
      
            <div class="form">
                <span>CORREO</span>
                <div class="class-input email">
                    <input type="text" id="email-form" placeholder="E-mail" />
                </div>
                <span>NOMBRE COMPLETO</span>
                <div class="class-input password">
                    <input type="text" id="nombre-form" placeholder="Nombre" />
                </div>
                <span>TELÉFONO</span>
                <div class="class-input repetirpassword">
                    <input type="number" id="telefono-form" placeholder="Teléfono" />
                </div>
                <span>COMENTARIO</span>
                <div class="class-input repetirpassword">
                    <input type="text" id="texto-form" placeholder="Su comentario" />
                </div>
                <div class="botonGuardar">
                    <button type="button">ENVIAR</button>
                </div>
            </div>
        </div>

        <div class="parteMapa">
            <div class="tituloMapa">
                <h2>DONDE ESTAMOS</h2>
            </div>
            <div class="mapaCanva">
                <img src="../../../assets/img/mapa.png">
            </div>
        </div>
    </div>


<!-- FOOTER -->

    <app-footer></app-footer>

</body>
