<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <div class="contenidoCuerpo">
            <div class="fechas">
                <div class="fechaInicio class-input">
                    <input type="date" class="inputFechaInico" placeholder="Fecha inicial" #fechaInicio />
                </div>
                <div class="fechaFin class-input">
                    <input type="date" class="inputFechaFin" placeholder="Fecha final" #fechaFin />
                </div>
                <div class="botonBuscar">
                    <!-- <button type="button">Buscar</button> -->
                    <button class="botonMyGreen" type="button"
                        (click)="buscarRangoFechas(fechaInicio.value,fechaFin.value)">BUSCAR</button>
                </div>
            </div>
            <div class="graficaTension">
                <div echarts [options]="options" class="tensionMatricial"></div>
            </div>
            <div class="valorTension">
                <div class="tension"
                    [ngClass]="{'rojo':'rojo tension','amarillo':'amarillo tension','verde':'verde tension'}[colorTension]">
                    <img src="../../../assets/img/manoPlanta 1.png">
                    <div class="caja">
                        <h2 class="cajaValor">{{tension}} Cb</h2>
                        <h4 class="cajaTitulo">TENSIÓN MATRICIAL</h4>
                    </div>
                </div>
                <div class="tituloSugerencia">
                    <h2>{{mensaje}}</h2>
                    <p>Para el correcto desarollo de la planta la tensión matricial debe
                        de mantenerse entre valores minimos de 6 Cb y máximos de 16 Cb.
                        En determinadas ocasiones estas medidas pueden variar.</p>
                </div>
            </div>
            <div class="botonRiego">
                <p>ON</p>
                <app-boton-slice></app-boton-slice>
                <p>OFF</p>
            </div>
        </div>
    </div>
</div>