<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>

    <div class="tarjetas">
        <div class="tareas-cabecera">
            <h3 class="tituloCard blanco">LEYENDA MEDIDAS</h3>
            <div class="derecha">
                <div class="leyenda">
                    <div class="cuadrado urgente"></div>
                    <p class="leyenda-titulo">urgente</p>
                </div>

                <div class="leyenda">
                    <div class="cuadrado media"></div>
                    <p class="leyenda-titulo">medio</p>
                </div>

                <div class="leyenda">
                    <div class="cuadrado baja"></div>
                    <p class="leyenda-titulo">bajo</p>
                </div>
            </div>
        </div>
        <div
            [ngClass]="{'rojo':'rojo temperatura','amarillo':'amarillo temperatura','verde':'verde temperatura'}[colorTemperatura]">

            <img src="../../../assets/img/TermometroB 1.png">
            <div class="caja">
                <h3 class="cajaValor">{{temperatura}}</h3>
                <h4 class="cajaTitulo">TEMPERATURA</h4>
            </div>

        </div>
        <div [ngClass]="{'rojo':'rojo humedad','amarillo':'amarillo humedad','verde':'verde humedad'}[colorHumedad]">
            <img src="../../../assets/img/gotas-de-aguaB 1.png">
            <div class="caja">
                <h3 class="cajaValor">{{humedad}}</h3>
                <h4 class="cajaTitulo">HUMEDAD</h4>
            </div>
        </div>
        <div [ngClass]="{'rojo':'rojo tension','amarillo':'amarillo tension','verde':'verde tension'}[colorTension]">
            <img src="../../../assets/img/manoPlanta 1.png">
            <div class="caja">
                <h3 class="cajaValor">{{tension}}Cb</h3>
                <h4 class="cajaTitulo">TENSIÓN MATRICIAL</h4>
            </div>
        </div>
        <div class="clima">
            <img src="../../../assets/img/sun 2.png" class="iconoClima">
            <div class="cajaClima">
                <h3 class="cajaTituloClima">MAX: {{this.maxTemp}}º</h3>
                <h3 class="cajaTituloClima">MIN: {{this.minTemp}}º</h3>
                <h4 class="cajaTitulo">{{this.clima}}</h4>
            </div>
        </div>

        <div class="incidencias">
            <h3 class="tituloCard">INCIDENCIAS</h3>
            <div class="indicencias-contenedor">
                <table class="table table-striped table-hover" id="tablaMygreen" #tablaMygreen>
                    <thead>
                        <th scope="col" id="tablaCabecera">
                            FECHA
                        </th>
                        <th scope="col" id="tablaCabecera">
                            USUARIO
                        </th>
                        <th scope="col" id="tablaCabecera">
                            DESCRIPCION
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incidencia of incidenciaSlice; let indice = index" id="tablaFila">
                            <td>{{incidencia.fecha|fecha}}</td>
                            <td>{{incidencia.nombre}} {{incidencia.apellidos}}</td>

                            <td class="descripcion"><a (click)="openPopup(indice)">{{incidencia.descripcion}}</a></td>

                        </tr>

                    </tbody>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li *ngFor="let pag of paginador; let indice = index" class="page-item"><a class="page-link"
                                    (click)="cargarTabla(indice)">{{indice+1}}</a></li>
                        </ul>
                    </nav>
                </table>

            </div>
        </div>

        <div class="tensionMatricial">
            <h3 class="tituloCard">TENSIÓN MATRICIAL</h3>
            <div class="graficaTension">
                <div echarts [options]="options" class="demo-chart"></div>
            </div>
        </div>

        <!-- <div class="tareasPendientes">
            <h3 class="tituloCard">TAREAS PENDIENTES</h3>
            <div class="tarasPendientes-contenedor">
                <table class="table table-striped table-hover" id="tablaMygreen" #tablaMygreen>
                    <thead>
                        <th scope="col" id="tablaCabecera">
                            FECHA
                        </th>
                        <th scope="col" id="tablaCabecera">
                            PRIORIDAD
                        </th>
                        <th scope="col" id="tablaCabecera">
                            DESCRIPCION
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tarea of tareas" id="tablaFila">
                            <td>{{tarea.fecha}}</td>
                            <td>{{tarea.prioridad}}</td>
                            <td>{{tarea.descripcion}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div> -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Descripción Incidencia</h4>
                </div>
                <div class="modal-body">
                    <p>{{incidenciaModal.descripcion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botonMyGreen2" (click)="closePopup()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>