.contenido {
  display: grid;
  grid-template-columns: [x0]238px [x1]calc(100vw - 255px) [x2];
  grid-template-rows: [y0]112px [y1]calc(100vh - 112px) [y2];
  background-color: var(--fondo);
}

.header {
  grid-column: x0/x2;
  grid-row: y0/y1;
}

.menu {
  display: grid;
  grid-column: x0/x1;
  grid-row: y1/y2;
}

.tarjetas {
  display: grid;
  grid-column: x1/x2;
  grid-row: y1/y2;
  grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3] 1fr [x4];
  grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr [y4] 1fr [y5];
  padding: 50px;
  gap: 20px;
}

.caja {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cajaValor {
  color: white;
  font-family: var(--lato);
  font-size: 50px;
}

.cajaTitulo {
  color: white;
  font-family: var(--lato);
  font-size: 15px;
}

.cajaTituloClima {
  color: white;
  font-family: var(--lato);
  font-size: 15px;
  text-align: left;
}

.temperatura {
  grid-column: x0/x1;
  grid-row: y0/y1;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.humedad {
  grid-column: x1/x2;
  grid-row: y0/y1;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.tension {
  grid-column: x2/x3;
  grid-row: y0/y1;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.clima {
  grid-column: x3/x4;
  grid-row: y0/y1;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  background-color: var(--clima);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.incidencias {
  grid-column: x0/x2;
  grid-row: y1/y5;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.tensionMatricial {
  grid-column: x2/x4;
  grid-row: y1/y3;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.tareasPendientes {
  grid-column: x2/x4;
  grid-row: y3/y5;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.tareasPendientes h3 {
  margin-top: 10px;
}

.tension-Matricial-Imagen {
  width: 86%;
  height: auto;
}
.indicencias-contenedor {
  width: 90%;
  margin-top: 10px;
}

.incidencias h3 {
  margin-top: 10px;
}

.tarasPendientes-contenedor {
  width: 90%;
  margin-top: 10px;
}

/* BOTON informacion */
.container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.inner {
  background: rgb(7, 218, 165);
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(5% at 90% 13%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.inner:hover {
  clip-path: circle(75%);
  background: #00b6ff;
}
span {
  float: right;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
  position: relative;
  margin-right: 4%;
}
span:hover span {
  color: rgba(255, 255, 255, 0);
}
h1 {
  color: white;
  margin: 0;
}
p {
  color: white;
  font-size: 0.8rem;
}
/* ========================= */
.graficaTension {
  width: 600px;
  height: auto;
}

.demo-chart{
  max-height: 200px;
  max-width: 600px;
  margin-top:-40px;
}