<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>
    
    <div class="tarjetas">
        <div class="temperatura">
            <img src="../../../assets/img/TermometroB 1.png">
            <div class="caja">
                <h3 class="cajaValor">22º</h3>
                <h4 class="cajaTitulo">TEMPERATURA</h4>
            </div>
            
        </div>
        <div class="humedad">
            <img src="../../../assets/img/gotas-de-aguaB 1.png">
            <div class="caja">
                <h3 class="cajaValor">15%</h3>
                <h4 class="cajaTitulo">HUMEDAD</h4>
            </div>
        </div>
        <div class="tension">
            <img src="../../../assets/img/manoPlanta 1.png">
            <div class="caja">
                <h3 class="cajaValor">12Cb</h3>
                <h4 class="cajaTitulo">TENSIÓN MATRICIAL</h4>
            </div>
        </div>
        <div class="clima">
            <img src="../../../assets/img/sun 2.png" class="iconoClima">
            <div class="cajaClima">
                <h3 class="cajaTituloClima">MAX: 24º</h3>
                <h3 class="cajaTituloClima">MIN: 8º</h3>
                <br>
                <h4 class="cajaTitulo">DESPEJADO</h4>
            </div>
        </div>

        <div class="incidencias">
            <h3 class="tituloCard">INCIDENCIAS</h3>
        </div>

        <div class="tensionMatricial">
            <h3 class="tituloCard">TENSIÓN MATRICIAL</h3>
        </div>

        <div class="tareasPendientes">
            <h3 class="tituloCard">TAREAS PENDIENTES</h3>
        </div>
    </div>
    
</div>
