.contenido {
  display: grid;
  grid-template-columns: [x0]238px [x1]calc(100vw - 238px) [x2];
  grid-template-rows: [y0]112px [y1]calc(100vh - 112px) [y2];
  background-color: var(--fondo);
}

.header {
  grid-column: x0/x2;
  grid-row: y0/y1;
}

.menu {
  display: grid;
  grid-column: x0/x1;
  grid-row: y1/y2;
}

.tarjetas {
  display: grid;
  grid-column: x1/x2;
  grid-row: y1/y2;
  grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3] 1fr [x4];
  grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr [y4] 1fr [y5] 1fr [y6] 1fr [y7] 1fr [y8] 1fr [y9];
  padding: 50px;
  gap: 20px;
}

.caja {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cajaValor {
  color: white;
  font-family: var(--lato);
  font-size: 50px;
}

.cajaTitulo {
  color: white;
  font-family: var(--lato);
  font-size: 15px;
}

.cajaClima {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cajaTituloClima {
  color: white;
  font-family: var(--lato);
  font-size: 20px;
  text-align: left;
}

.temperatura {
  grid-column: x0/x1;
  grid-row: y0/y2;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.humedad {
  grid-column: x1/x2;
  grid-row: y0/y2;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.tension {
  grid-column: x2/x3;
  grid-row: y0/y2;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.clima {
  grid-column: x3/x4;
  grid-row: y0/y2;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  background-color: var(--clima);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.incidencias {
  grid-column: x0/x2;
  grid-row: y2/y9;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.tensionMatricial {
  grid-column: x2/x4;
  grid-row: y2/y7;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 15px;
}

.tareas-cabecera {
  grid-column: x2/x4;
  grid-row: y7/y9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  padding: 40px;
  border: var(--borde);
  box-shadow: var(--sombra);
}

.derecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.tareasPendientes h3 {
  margin-top: 10px;
}

.tension-Matricial-Imagen {
  width: 100%;
  height: 100%;
}
.indicencias-contenedor {
  width: 90%;
  margin-top: 10px;
}

.incidencias h3 {
  margin-top: 10px;
}

.tarasPendientes-contenedor {
  width: 90%;
  margin-top: 10px;
}

/* BOTON informacion */
.container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.inner {
  background: rgb(7, 218, 165);
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(5% at 90% 13%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.inner:hover {
  clip-path: circle(75%);
  background: #00b6ff;
}
span {
  float: right;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
  position: relative;
  margin-right: 4%;
}
span:hover span {
  color: rgba(255, 255, 255, 0);
}
h1 {
  color: white;
  margin: 0;
}
p {
  color: white;
  font-size: 0.8rem;
}
/* ========================= */
.graficaTension {
  width: 700px;
  height: auto;
}
.demo-chart {
  max-height: 250px;
  max-width: 700px;
}

.leyenda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cuadrado {
  width: 20px;
  height: 20px;
}

.leyenda-titulo {
  color: black;
  font-family: var(--lato);
  font-size: 1.2em;
  margin-bottom: 0;
}

.urgente {
  background-color: #da3232;
  border-radius: 50%;
}

.media {
  background-color: #ffc800c0;
  border-radius: 50%;
}

.baja {
  background-color: var(--verdePrincipal);
  border-radius: 50%;
}

@media (max-width: 1060px){
.tareas-cabecera{
  display: none;
}
.contenido {
  grid-template-columns: [x0]200px [x1]calc(100vw - 200px) [x2];
  grid-template-rows: [y0]112px [y1]calc(100vh - 112px) [y2];
}
.tarjetas{
  padding: 5px;
  gap: 5px;
}
.indicencias-contenedor{
  overflow: scroll;
}
.incidencias {
  grid-column: x0/x4;
  grid-row: y6/y9;
}
.tensionMatricial {
  overflow: hidden;
  grid-column: x0/x4;
  grid-row: y2/y6;
}
.tituloCard{
  display: none;
}
img{
  display: none;
}
.graficaTension {
  width: 700px;
  height: auto;
}
.demo-chart{
  max-height: 300px;
  max-width: 720px;
}

}
