<app-header></app-header>

<div class="cuerpo1">
        

    <form class="formulario" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="contenedor_datos_input">
        <div class="form">
            <div class="tituloForm">
                <h2>¡Bienvenido!</h2>
                <p>Para poder restablecer tu contraseña debes de introducir un email correcto y te enviaremos un correo con una nueva contraseña</p>
            </div>
            
            <div>
                <input class="form-input" type="email" id="email-login" name="correo" [(ngModel)]="usuario.email" #correo="ngModel"
                [ngClass]="{'is-invalid':correo.invalid && (correo.dirty || correo.touched)}" email required placeholder="  E-mail..." />
                <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                    <p *ngIf="correo.errors.required" class="advertencia">El correo es obligatorio</p>
                    <p *ngIf="correo.errors.email" class="advertencia">El correo no es válido</p>
                </div>
            </div>
            <div id="boton-form" >
                <button class="botonMyGreen" type="submit" [disabled]="!loginForm.valid" >ENVIAR</button>
            </div>
        </div>

    </form>
</div>
        
<app-footer></app-footer>