
/* grid imagenes */
.cuerpo1{
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px 100px;
    background-color: var(--fondo);
    gap: 100px;
    overflow: hidden;
    height: calc(100vh - 43.58vh);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    /* border: 1px solid black; */
    position: relative;
    flex-grow: .5;
    max-width: 800px;
    max-height: 0px;    
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(4, 0.5fr);
    /* grid-gap: 1vmin; */
    justify-content: center;
    /* justify-items: center;
    align-items: center; */
    /* padding: 1px; */
  }  
img{
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(.85) rotate(360deg);
    transition: all 1.25s;
    
}    
img:nth-child(7n+1) {
    grid-column: 2/ span 2;
}    
img:hover {
    z-index: 2;
    transform: scale(2);
}
.form{
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 2.4em 5em;
    padding: 2.5vw 2vh;
    box-shadow: var(--sombra);
    border: var(--borde);
    border-radius: 7px;
    gap: .8vh;
    background-color: white;
    /* backdrop-filter: saturate(180%) blur(20px); */
}
span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 0.88em;
    color: black;
}
.form-input{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0) ;
    border: 1.5px solid var(--verdeSecundario);
    width: 20rem;
    border-radius: 8px;
    background-color: rgb(230, 227, 227);
    min-height: 2.5rem;
    padding: 4px 8px;
}
.tituloForm h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
}
.tituloForm p{ 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
    color: black;
}
.form-check{
    padding: 0;
}
.form-check label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
}
.form-check a{
    color: var(--grisOscuro);
}
.recordar-contraseña{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
    color: var(--grisOscuro);
}
#remember-password{
    background-color: rgb(230, 227, 227);
}

#remember-password:checked{
    background-color: var(--verdePrincipal);
}
.form-check-input{
    color: black;
}
#boton-form{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
  

  
  