<footer>
    
    <div class="parte-izq">
        <div class="bloque1">
            <div class="canvas-log">
                <img src="../../../assets/img/arbolesB 1.png">
            </div>
                <h1>MyGreen</h1>
        </div>
        <div>
            <p>Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry.</p>
        </div>
    </div>

    <div class="parte-med">
        <div>
            <h2>AGRO - HUELLA HÍDRICA - RESPONSABILIDAD</h2>
        </div>
        <div>
            <h3>Todo los derechos reservados</h3>
            <p>2022 mygreen.com</p>
        </div>
    </div>
    <div class="parte-dcha">
        <div>
            <h2>CONTACTO:</h2>
            <ul>
                <li><a href="#"><img src="../../../assets/img/llamada-telefonicaB 1.png">666 555 444</a></li>
                <li><a href="#"><img src="../../../assets/img/correo-electronico-vacioB 1.png">info@mygreen.com</a></li>
                <li><a href="#"><img src="../../../assets/img/navegadorB 1.png">www.mygreen.com</a></li>
            </ul>
        </div>
    </div>
</footer>