footer{
    position: relative;
    bottom: 0;
    background-color:#414141;
    display: flex;
    justify-content: space-between;
    padding: 2vw 6.6vh 1.95vw 6.6vh;
    height: 22.3vh;
    width: 100%;
    color: white;
}
.parte-izq{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}
.bloque1{
    display: flex;
    align-content: center;
    gap: 1em;
}
.parte-izq p{
    display: none;

}
.parte-izq h1{
    font-family: 'Roboto Condensed';
    font-style: bold;
    font-weight: 700;
    font-size: 3em;
    line-height: 7.8vh;
    margin-top: 1.40vh;
}

.canvas-log img{
    height: 62px;
    width: 62px;
}
.parte-med{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    gap: 0.6em;
    text-align: center;
    margin-top: 7vh;
}
.parte-med h2{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.87em;
    line-height: 4.9vh;
}
.parte-med h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 4vh;
}
.parte-med p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.96vh;
}
.parte-dcha{
    display: flex;
    justify-content: space-around;
    width: auto;
    overflow: hidden;

}
.parte-dcha h2{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 4vh;
}
.parte-dcha ul{
    display: flex;
    flex-direction: column;
    margin: 3px ;

}
.parte-dcha li{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 2vh;
    display: flex;
    margin-top: 1vh;
}
.parte-dcha li img{
    margin-right: 8px;
}
a{
    color: white;
}

@media (max-width: 1060px){
    .parte-med{
        display: none;
    }
    p{
        display: none;
    }
}