<header>
    <div class="header-body">
        <div class="zona-izq">
            <div class="canvas-log">
                <img src="../../../assets/img/nature.png">
            </div>
            <h1>MyGreen</h1>
        </div>
        <div class="zona-dcha">
            <a class="btn-login" title="login" routerLink="/login"><img class="loginPng" src="../../../assets/img/Login.png"></a>
            <div class="redes">
                <a title="Facebook" href="http://www.facebook.com"><img class="img-social"
                        src="../../../assets/img/Facebook.png"></a>
                <a title="Twitter" href="http://www.twitter.com"><img class="img-social"
                        src="../../../assets/img/twitter.png"></a>
                <a title="Instagram" href="http://www.instagram.com"><img class="img-social"
                        src="../../../assets/img/instagram.png"></a>
                <a title="Youtube" href="http://www.youtube.com"><img class="img-social"
                        src="../../../assets/img/youtube.png"></a>
            </div>
        </div>
    </div>
    <nav>
        <a routerLink="" fragment="inicio">INICIO</a>
        <a routerLink="" fragment="producto">PRODUCTO</a>
        <a routerLink="" fragment="empresa">EMPRESA</a>
        <a routerLink="" fragment="equipo">EQUIPO</a>
        <a routerLink="" fragment="contacto">CONTACTO</a>
    </nav>
</header>