.contenedor {
  display: grid;
  grid-template-columns: [x0]238px[x1]calc(100vw - 238px) [x2];
  grid-template-rows: [y0]112px[y1]calc(100vh - 112px) [y2];
}

.cabecera {
  grid-column: x0/x2;
  grid-row: y0/y1;
}

.menuppal {
  grid-column: x0/x1;
  grid-row: y1/y2;
}
.cuerpo {
  grid-column: x1/x2;
  grid-row: y1/y2;
  background-color: #f4f4f4;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--roboto);
  min-height: 750px;
  min-width: 920px;
}
.tituloAdmPerfil {
  width: 100%;
}
.tituloAdmPerfil p {
  font-family: var(--lato);
}
.perfilAdm {
  width: 100%;
  height: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}
.infoBasicaPerfil {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  min-height: 525px;
  height: 525px;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--borde);
  box-shadow: var(--sombra);
}

.perfilAdm-detalle {
  border: 1px solid var(--verdeCorrecto);
  width: 65%;
  height: 525px;
  border-radius: 7px;
  margin-left: 30px;
  min-width: 400px;
  background-color: white;
  max-width: 800px;
  min-width: 500px;
  border: var(--borde);
  box-shadow: var(--sombra);
  padding: 10px;
}

.pd-titulo {
  margin: 15px;
}
.fotoPerfil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25.5px;
  margin-left: 20px;
}

.fotoPerfil img {
  width: 70px;
}

.datosPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.camposBasicos {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camposBasicos div {
  margin-bottom: 20px;
}

.botonGuardar {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botonGuardar button {
  width: 100%;
  max-width: 300px;
  height: 30px;
}

.nombre,
.apellidos,
.telefono,
.direccion,
.cp,
.poblacion,
.ciudad,
.permisos,
.ncuenta {
  max-width: 300px;
}
.email {
  background-image: url(../../../assets/img/arroba.png);
}
.password,
.repetirpassword {
  background-image: url(../../../assets/img/candado-abierto.png);
}
.nombre,
.apellidos {
  background-image: url(../../../assets/img/persona.png);
}
.telefono {
  background-image: url(../../../assets/img/telefono.png);
}
.direccion,
.cp,
.poblacion,
.ciudad {
  background-image: url(../../../assets/img/direccion.png);
}
.permisos {
  background-image: url(../../../assets/img/candado-abierto.png);
}

.ncuenta {
  background-image: url(../../../assets/img/cuenta.png);
}
.campo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detalle {
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin-top: 60px;
}
