<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <!-- <div class="tituloAdmPerfil tituloCard">
            <h1>Editar Perfil</h1>
            <p>Edite la infomración de su perfil y guarde los cambios</p>
        </div> -->
        
            <!-- <div class="perfilAdm-ppal">
                <div class="infoBasicaPerfil">
                    <div class="tituloPerfil">
                        <h3 class="tituloCard">MI PERFIL</h3>
                    </div>
                    <div class="fotoPerfil">
                        <div class="foto">
                            <img src="../../../assets/img/perfil.png" alt="">
                        </div>
                        <div class="datosPerfil">
                            <h4>Fernando López Cuesta</h4>
                            <p>Administrador</p>
                        </div>
                    </div>
                    <div class="camposBasicos">
                        <span>Dirección de email</span>
                        <div class="class-input email">
                            <input type="text" id="email" placeholder="  email" />
                        </div>
                        <span>Contraseña</span>
                        <div class="class-input password">
                            <input type="password" id="password" placeholder="  *******" />
                        </div>
                        <span>Repetir Contraseña</span>
                        <div class="class-input repetirpassword">
                            <input type="password" id="password" placeholder="  *******" />
                        </div>
                        <div class="botonGuardar">
                            <button type="button">Guardar</button>
                            <a class="botonMyGreen" type="button">ENVIAR</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <form class="perfilAdm" #perfilForm="ngForm" (ngSubmit)="onSubmit(perfilForm)">

            <div class="perfilAdm-detalle">
                <div class="tituloCard">
                    <h3>MI PERFIL</h3>
            </div>

                <div class="fila">
                    <div class="campo">
                        <span>Nombre</span>
                        <div class="class-input nombre">
                            <input type="text" id="nombre"
                            name="nombre" [(ngModel)]="usuario.nombre"
                            #nombre="ngModel"/>
                        </div>
                    </div>
                    <div class="campo">
                        <span>Apellidos</span>
                        <div class="class-input apellidos">
                            <input type="text" id="apellidos"
                            name="apellidos" [(ngModel)]="usuario.apellidos"
                            #apellidos="ngModel"/>
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Teléfono</span>
                        <div class="class-input telefono">
                            <input type="text" id="telefono" 
                            name="telefono" [(ngModel)]="usuario.telefono"
                            #telefono="ngModel"/>
                        </div>
                    </div>
                    <div class="campo">
                        <span>Dirección</span>
                        <div class="class-input direccion">
                            <input type="text" id="direccion"
                            name="direccion" [(ngModel)]="usuario.direccion"
                            #direccion="ngModel"/>
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>CP</span>
                        <div class="class-input cp">
                            <input type="text" id="cp"
                            name="codigoPostal" [(ngModel)]="usuario.cp"
                            #codigoPostal="ngModel" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Población</span>
                        <div class="class-input poblacion">
                            <input type="text" id="poblacion"
                            name="poblacion" [(ngModel)]="usuario.poblacion"
                            #poblacion="ngModel"/>
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Ciudad</span>
                        <div class="class-input ciudad">
                            <input type="text" id="ciudad"
                            name="ciudad" [(ngModel)]="usuario.ciudad"
                            #ciudad="ngModel" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Número de Cuenta</span>
                        <div class="class-input ncuenta">
                            <input type="text" id="ncuenta"
                            name="cuenta" [(ngModel)]="usuario.num_cuenta"
                            #cuenta="ngModel" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Contraseña</span>
                        <div class="class-input password">
                            <input type="password" id="password"
                            name="password" [(ngModel)]="usuario.contrasenia"
                            #password="ngModel"
                            [ngClass]="{'is-invalid':password.invalid && (password.dirty || password.touched)}" minlength="4" required placeholder="  *******" />
                    </div>
                        <div class="advertencia" *ngIf="password.invalid && (password.dirty || password.touched)">
                            <p *ngIf="password.errors.required">La contraseña es obligatoria</p>
                            <p *ngIf="password.errors.minlength">Minimo 4 caracteres</p>
                        </div> 
                    </div>
                    <div class="campo">
                        <span>Dirección de email</span>
                        <div class="class-input email">
                            <input type="text" id="email"
                            name="email" [(ngModel)]="usuario.email"
                            #email="ngModel" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Repetir Contraseña</span>
                        <div class="class-input repetirpassword">
                            <input type="password" id="password"
                            name="ConfirmPassword"   
                            ngValidateEqual="password"              
                            #ConfirmPassword="ngModel"
                            [(ngModel)]="usuario.confirmPassword"
                            [ngClass]="{'is-invalid':ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)}" minlength="4" required placeholder="  Repita la contraseña" />
                    </div>
                        <div class="advertencia" *ngIf="  ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                            <p *ngIf="ConfirmPassword.errors.required">La contraseña es obligatoria</p>
                            <p *ngIf="ConfirmPassword.errors.minlength">Minimo 4 caracteres</p>
                            <p *ngIf="ConfirmPassword.hasError('notEqual') && password.valid">Contraseñas no coinciden</p>
                        </div> 
                    </div>
                    <div class="campo"></div>
                </div>                

                <div class="botonGuardar detalle">
                    <button class="botonMyGreen" [disabled]="!perfilForm.valid" type="submit">ENVIAR</button>
                </div>

            
        </div>
    </form>
</div>