<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <!-- <div class="tituloAdmPerfil tituloCard">
            <h1>Editar Perfil</h1>
            <p>Edite la infomración de su perfil y guarde los cambios</p>
        </div> -->
        <div class="perfilAdm">
            <div class="perfilAdm-ppal">
                <div class="infoBasicaPerfil">
                    <div>
                        <h3 class="tituloCard">MI PERFIL</h3>
                    </div>
                    <div class="fotoPerfil">
                        <div class="foto">
                            <img src="../../../assets/img/perfil.png" alt="">
                        </div>
                        <div class="datosPerfil">
                            <h4>Fernando López Cuesta</h4>
                            <p>Administrador</p>
                        </div>
                    </div>
                    <div class="camposBasicos">
                        <span>Dirección de email</span>
                        <div class="class-input email">
                            <input type="text" id="email" placeholder="  email" />
                        </div>
                        <span>Contraseña</span>
                        <div class="class-input password">
                            <input type="password" id="password" placeholder="  *******" />
                        </div>
                        <span>Repetir Contraseña</span>
                        <div class="class-input repetirpassword">
                            <input type="password" id="password" placeholder="  *******" />
                        </div>
                        <div class="botonGuardar">
                            <!-- <button type="button">Guardar</button> -->
                            <a class="botonMyGreen" type="button">ENVIAR</a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="perfilAdm-detalle">
                <div class="tituloCard">
                    <h3 class="tituloCard">DATOS PERSONALES</h3>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Nombre</span>
                        <div class="class-input nombre">
                            <input type="text" id="nombre" placeholder="  Nombre" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Apellidos</span>
                        <div class="class-input apellidos">
                            <input type="text" id="apellidos" placeholder="  Apellidos" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Teléfono</span>
                        <div class="class-input telefono">
                            <input type="text" id="telefono" placeholder="  Su teléfono" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Dirección</span>
                        <div class="class-input direccion">
                            <input type="text" id="direccion" placeholder=" Su dirección" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>CP</span>
                        <div class="class-input cp">
                            <input type="text" id="cp" placeholder=" Su CP" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Población</span>
                        <div class="class-input poblacion">
                            <input type="text" id="poblacion" placeholder="  Su Poblacion" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Ciudad</span>
                        <div class="class-input ciudad">
                            <input type="text" id="ciudad" placeholder="Su ciudad" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Número de Cuenta</span>
                        <div class="class-input ncuenta">
                            <input type="text" id="ncuenta" placeholder=" Su nº de Cuenta" />
                        </div>
                    </div>
                </div>

                <div class="botonGuardar detalle">
                    <!-- <button type="button">Guardar</button> -->
                    <a class="botonMyGreen" type="button">ENVIAR</a>
                </div>

            </div>
        </div>
    </div>
</div>