<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <div class="tituloAdmPerfil">
            <h1>Editar Perfil</h1>
            <p>Edite la infomración de su perfil y guarde los cambios</p>
        </div>
        <div class="perfilAdm">
            <div class="perfilAdm-ppal">
                <div class="infoBasicaPerfil">
                    <div class="tituloCard">
                        <h2>Mi Perfil</h2>
                    </div>
                    <div class="fotoPerfil">
                        <div class="foto">
                            <img src="../../../assets/img/perfil.png" alt="">
                        </div>
                        <div class="datosPerfil">
                            <h4>Juan José Cabrera Maldonado</h4>
                            <p>Administrador</p>
                        </div>
                    </div>
                    <div class="camposBasicos">
                        <span>Dirección de email</span>
                        <div class="class-input email">
                            <input type="text" id="email" placeholder="email" />
                        </div>
                        <span>Contraseña</span>
                        <div class="class-input password">
                            <input type="password" id="password" placeholder="*******" />
                        </div>
                        <span>Repetir Contraseña</span>
                        <div class="class-input repetirpassword">
                            <input type="password" id="password" placeholder="*******" />
                        </div>
                        <div class="botonGuardar">
                            <button type="button">Guardar</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="perfilAdm-detalle">
                <div class="tituloCard">
                    <h2>Datos Personales</h2>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Nombre</span>
                        <div class="class-input nombre">
                            <input type="text" id="nombre" placeholder="Nombre" value="Francisco" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Apellidos</span>
                        <div class="class-input apellidos">
                            <input type="text" id="apellidos" placeholder="Apellidos" value="López Lopez" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Teléfono</span>
                        <div class="class-input telefono">
                            <input type="text" id="telefono" placeholder="Nombre" value="666 555 444" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Dirección</span>
                        <div class="class-input direccion">
                            <input type="text" id="direccion" placeholder="Apellidos" value="Ctra La Loma, 20" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>CP</span>
                        <div class="class-input cp">
                            <input type="text" id="cp" placeholder="Nombre" value="04700" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Población</span>
                        <div class="class-input poblacion">
                            <input type="text" id="poblacion" placeholder="Apellidos" value="El Ejido" />
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="campo">
                        <span>Ciudad</span>
                        <div class="class-input ciudad">
                            <input type="text" id="ciudad" placeholder="Nombre" value="Almería" />
                        </div>
                    </div>
                    <div class="campo">
                        <span>Permisos</span>
                        <div class="class-input permisos">
                            <input type="text" id="permisos" placeholder="Nombre" value="Adminitrador" />
                        </div>
                    </div>
                </div>
                <div class="fila">

                    <div class="campo">
                        <span>Número de Cuenta</span>
                        <div class="class-input ncuenta">
                            <input type="text" id="ncuenta" placeholder="Apellidos"
                                value="349403029 09230 239 209***" />
                        </div>
                    </div>
                </div>

                <div class="botonGuardar detalle">
                    <button type="button">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</div>