<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <div class="contenido bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/manoV.png" alt="">
                <div class="tensionM">
                    <h3 class="tituloCard">TENSIÓN MATRICIAL</h3>
                    <p id="tension">{{tension}} Cb</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Riego</p>
                <app-boton-slice [usuariohijo]="mensaje"></app-boton-slice>
            </div>
            <div>

                <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="tensionMatricial"></div>
            </div>

        </div>
        <div class="contenidoTemperatura bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/termometroV.png" alt="">
                <div class="tensionM temperaturaM">
                    <h3 class="tituloCard">TEMPERATURA INTE.</h3>
                    <p id="tension">{{temperatura}} C</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Ventilación</p>
                <app-boton-slice [usuariohijo]="mensaje2"></app-boton-slice>
            </div>

            <div>
                <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="tensionMatricial"></div>
            </div>
        </div>
        <div class="contenidoHumedad bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/gotasV.png" alt="">
                <div class="tensionM">
                    <h3 class="tituloCard">HUMERDAD RELATIVA</h3>
                    <p id="tension">{{humedad}} %</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Riego</p>
                <app-boton-slice></app-boton-slice>
            </div>
            <div>
                <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="tensionMatricial"></div>
            </div>
        </div>
    </div>
</div>