.contenedor {
  display: grid;
  grid-template-columns: [x0]238px[x1]calc(100vw - 255px) [x2];
  grid-template-rows: [y0]112px[y1]calc(100vh - 112px) [y2];
}

.cabecera {
  grid-column: x0/x2;
  grid-row: y0/y1;
}

.menuppal {
  grid-column: x0/x1;
  grid-row: y1/y2;
}
.cuerpo {
  display: grid;
  grid-column: x1/x2;
  grid-row: y1/y2;
  background-color: #f4f4f4;
  grid-template-columns: [x0]1fr[x1];
  grid-template-rows: [y0]1fr[y1]1fr[y2]1fr[y3];
  padding: 50px;
  min-height: 1000px;
}

.bordeysombra {
  border: var(--borde);
  box-shadow: var(--sombra);
  background-color: white;
}

.contenido {
  grid-column: x0/x1;
  grid-row: y0/y1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 7px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tension {
  font-size: 60px;
}

.tensionM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
  font-family: var(--roboto);
}

.temperaturaM {
}
.contenidoTemperatura {
  grid-column: x0/x1;
  grid-row: y1/y2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 7px;
}
.contenidoHumedad {
  grid-column: x0/x1;
  grid-row: y2/y3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}

#iconoDomo {
  width: 80px;
}

.botonSlice {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 30px;
}

.botonSlice p {
  font-family: var(--lato);
  font-size: 17px;
  font-weight: bold;
}

.tensionMatricial {
  width: 600px;
  height: 250px;
}

@media (max-width: 1325px) {
  #iconoDomo {
    display: none;
  }

  .contenido img,
  .contenidoTemperatura img,
  .contenidoHumedad img {
    width: 300px;
  }

  #tension {
    font-size: 30px;
  }

  .botonSlice p {
    font-family: var(--lato);
    font-size: 13px;
    font-weight: bold;
  }

  .tensionM p {
    font-size: 17px;
  }
}

@media (min-width: 1600px) {
  .tensionMatricial {
    width: 800px;
    height: 250px;
  }
}
