<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <div class="contenido bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/manoV.png" alt="">
                <div class="tensionM">
                    <p>Tensión Matricial</p>
                    <p id="tension">12 Cb</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Riego</p>
                <app-boton-slice></app-boton-slice>
            </div>

        </div>
        <div class="contenidoTemperatura bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/manoV.png" alt="">
                <div class="tensionM">
                    <p>Tensión Matricial</p>
                    <p id="tension">12 Cb</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Riego</p>
                <app-boton-slice></app-boton-slice>
            </div>
        </div>
        <div class="contenidoHumedad bordeysombra">
            <div class="info">
                <img id="iconoDomo" src="../../../assets/img/manoV.png" alt="">
                <div class="tensionM">
                    <p>Tensión Matricial</p>
                    <p id="tension">12 Cb</p>
                </div>
            </div>
            <div class="botonSlice">
                <p>Activar - Desactivar</p>
                <p>Riego</p>
                <app-boton-slice></app-boton-slice>
            </div>
        </div>
    </div>
</div>