  .header {
    background-color: var(--verdePrincipal);
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 51px 0 22px;
  }

  .zona-izq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .zona-izq h1 {
    color: white;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .zona-dcha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .boton-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
  }

  .boton-login img {
    height: 100%;
    width: auto;
  }

  .boton-login img:hover{
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.308));
    filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.315));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 50%;
  }

  .boton-login p {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0 !important;
  }

  .boton-login p:hover {
    color: var(--grisOscuro);
    cursor: pointer;
  }

@media (max-width: 1060px){
  .header-body{
    height: 12.6vh;
  }
}
