/*Escritorio*/
@media (min-width: 1199.98px) {
  .header {
    background-color: var(--verdePrincipal);
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 51px 0 22px;
  }

  .zona-izq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .zona-izq h1 {
    color: white;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .zona-dcha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boton-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boton-login img {
    padding-right: 10px;
    max-width: 40px;
  }

  .boton-login p {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0 !important;
  }

  .boton-login p:hover {
    color: var(--grisOscuro);
    cursor: pointer;
  }
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
/* @media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
  body{background: orange;}
} */

/*landscape*/
/* @media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
  body{background: blue;}
} */
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .header {
    background-color: var(--verdePrincipal);
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 51px 0 22px;
  }

  .zona-izq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .zona-izq h1 {
    color: white;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .zona-dcha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boton-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boton-login img {
    padding-right: 10px;
    max-width: 40px;
  }
  .boton-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boton-login img {
    padding-right: 10px;
    max-width: 40px;
  }

  .boton-login p {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0 !important;
  }

  .boton-login p:hover {
    color: var(--grisOscuro);
  }
}
/*landscape*/
/* @media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
  body{background: black;}
} */
/*fin movil*/
