.contenido {
  display: grid;
  grid-template-columns: [x0] 238px [x1] calc(100vw - 238px) [x2];
  grid-template-rows: [y0] 112px [y1] calc(100vh - 112px) [y2];
  background-color: var(--fondo);
  /* min-height: 900px; */
}

.header {
  grid-column: x0/x2;
  grid-row: y0/y1;
}

.menu {
  display: grid;
  grid-column: x0/x1;
  grid-row: y1/y2;
}

.admin-usuarios {
  display: grid;
  grid-column: x1/x2;
  grid-row: y1/y2;
  /* grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3] 1fr [x4];
  grid-template-rows: [y0]90% [y1]; */
  padding: 3.125em;
  gap: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* min-width: 1300px;
  min-height: 800px; */
}

.usuariosForm {
  grid-column: x0/x1;
  grid-row: y0/y1;
  border: var(--borde);
  box-shadow: var(--sombra);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.16vh 0;
  gap: 0.63em;
  background-color: white;
  width: 350px;
  /* min-width: 350px;
  min-height: 600px;
  max-height: 670px; */
}
.titulo-usuariosForm{
  display: flex;
  justify-content: center;
}
.parteIzq{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.parteDcha{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#boton-form {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.tablaUltimasTareas {
  grid-column: x1/x4;
  grid-row: y0/y1;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  /* background-color: var(--rojowarning); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.16vh 1.63vw 0;
  /* margin-bottom: 50px; */
  background-color: white;
  width: 100%;
  height: 569px;
  /* max-width: 950px;
  max-height: 600px;
  min-width: 750px;
  min-height: 670px; */
}
th {
  height: 30px;
}
td {
  text-align: center;
}
.iconos {
  /* border: 1px solid black; */
  width: auto;
  height: 20px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.iconos img {
  height: 100%;
  width: auto;
}
.usuariosForm p {
  color: red;
  font-size: smaller;
  text-align: start;
}
.advertencia {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: calc(100% - 33px);
  position: absolute;
}
.subForm {
  width: 100%;
  margin-left: 40px;
}

.usuariosForm span {
  margin-top: 10px;
}


@media (max-width: 1060px){

  .contenido {
    grid-template-columns: [x0] 200px [x1] calc(100vw - 200px) [x2];
    grid-template-rows: [y0] 112px [y1] calc(100vh - 112px) [y2];
    min-height: none;
  }

  .admin-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    min-width: none !important; 
    min-height: none !important;
  }

  .usuariosForm {
    display: flex;
    justify-content: center;
    height: calc((100vh - 112px)/2);
    width: 811px;
    max-width: none;
    min-width: none;
    padding: 5px;
  }
  .parteInputs{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .parteIzq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .parteDcha{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #boton-form {
    margin: 0;
    margin-bottom: 10px;
  }
  .tablaUltimasTareas {
   display: flex;
  justify-content: flex-start;
  height: calc((100vh - 112px)/2);
  overflow: scroll;
  padding: 5px;
  }
}