<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>
    
    <div class="tarjetas">
        <div class="tareas">
            <h3 class="tituloCard">TAREAS PENDIENTES</h3>
        </div>

        <div class="horario">
            <h3 class="tituloCard">CONTROL HORARIO</h3>
        </div>

        <div class="nominas">
            <h3 class="tituloCard">ÚLTIMAS NÓMINAS</h3>
        </div>

    </div>
    
</div>

