.contenido {
  display: grid;
  grid-template-columns: [x0]238px [x1]calc(100vw - 238px) [x2];
  grid-template-rows: [y0]112px [y1]calc(100vh - 112px) [y2];
  background-color: var(--fondo);
}
.header {
  grid-column: x0/x2;
  grid-row: y0/y1;
}
.menu {
  display: grid;
  grid-column: x0/x1;
  grid-row: y1/y2;
}
.tarjetas {
  display: grid;
  grid-column: x1/x2;
  grid-row: y1/y2;
  grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3] 1fr [x4];
  grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr [y4] 1fr [y5] 1fr[y6];
  padding: 50px;
  gap: 20px;
}
.tareas {
  grid-column: x0/x4;
  grid-row: y0/y5;
  border-radius: 7px;
  box-shadow: var(--sombra);
  display: flex;
  border: 1px solid rgba(104, 104, 104, 0.26);
  flex-direction: column;
  background-color: #c4c4c4;
}
.nominas {
  grid-column: x0/x4;
  grid-row: y5/y6;
  border-radius: 7px;
  box-shadow: var(--sombra);
  border: var(--borde);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nominas-caja {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.separacion {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.tareas-cabecera {
  background-color: var(--grisOscuro);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
.derecha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-right: 20px;
}
.leyenda-titulo {
  color: white;
  margin: 0 !important;
  font-family: var(--lato);
  font-weight: 600;
}
.tareasPendientes-contenedor {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 45px;
  /* max-height: 100px; */
  overflow: scroll;

}
.tarjeta-tarea {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 7px;
  max-width: 250px;
  width: 400px;
  margin: 10px;
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 20px;
  color: white;
  font-family: var(--lato);
  font-weight: 600;
}

.cabecera-titulo {
  margin-left: 10px;
}

.cabecera-imagen {
  margin-right: 10px;
  margin-top: 4px;
}

.contenido-tarjeta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  margin: 10px;
}

.descripcion {
  float: right;
  padding: 4px;
}
.contenido-tarjeta p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  padding-left: 5px;
}

.urgente {
  background-color: #da3232;
  border-radius: 7px;
}

.media {
  background-color: #ffc800c0;
  border-radius: 7px;
}

.baja {
  background-color: var(--verdePrincipal);
  border-radius: 7px;
}

.blanco {
  color: white;
  font-family: var(--roboto);
  font-weight: 600;
  padding-left: 20px;
  padding-top: 0;
}
.leyenda {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.cuadrado {
  width: 12px;
  height: 12px;
}
.modal-content{
  border: none;
  border-radius: none;
}
#modal{
  display: flex;
  justify-content: center;
}
.bordeRojo{
  border: 5px solid rgb(161, 5, 5);
  border-radius: 7px;
}
.bordeVerde{
  border: 5px solid green;
  border-radius: 7px;
}
.bordeAmarillo{
  border: 5px solid rgb(201, 154, 3);
  border-radius: 7px;
}
.modal-header{
  text-align: justify;
  display: flex;
  justify-content: center;
}
.headerRojo{
  background-color: var(--rojowarning);
}
.headerAmarillo{
  background-color: var(--amariloAdvertencia);
}
.headerVerde{
  background-color: var(--verdeCorrecto);
}
.modal-body{
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}
.modal-footer{
  display: flex;
  justify-content: center;
}
.tituloSpan{
  color: white;
}

.letraUrgente{
  color: white;
}

@media (max-width: 1060px){
  .tarjeta-tarea {
    width: 200px;
  }

  .tareasPendientes-contenedor {
    padding-left: 10px;
  }
}
