<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>

    <div class="tarjetas">
        <div class="tareas">
            <div class="tareas-cabecera">
                <h3 class="tituloCard blanco">TAREAS PENDIENTES</h3>
                <div class="derecha">
                    <div class="leyenda">
                        <div class="cuadrado urgente"></div>
                        <p class="leyenda-titulo">urgente</p>
                    </div>

                    <div class="leyenda">
                        <div class="cuadrado media"></div>
                        <p class="leyenda-titulo">medio</p>
                    </div>

                    <div class="leyenda">
                        <div class="cuadrado baja"></div>
                        <p class="leyenda-titulo">bajo</p>
                    </div>
                </div>
            </div>
            <div class="tareasPendientes-contenedor">
                <div *ngFor="let tarea of tareas; let indice = index" class="tarjeta-tarea">
                    <div class="{{tarea.prioridad}}">
                        <div class="cabecera">
                            <p class="cabecera-titulo">{{tarea.fecha | fecha}}</p>
                            <img class="cabecera-imagen" src="../../../assets/img/close.png"
                                (click)="eliminarTarea(tarea.id_tarea,indice)">
                        </div>
                        <a (click)="openPopup(indice)">
                            <div class="contenido-tarjeta">
                                <p class="descripcion">
                                    {{tarea.descripcion}}
                                </p>
                                <img src="../../../assets/img/mas.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="nominas">
            <h3 class="tituloCard--sinmargen">ÚLTIMAS NÓMINAS</h3>
            <div class="nominas-caja">
                <a href="../../../assets/documents/nominas/{{nomina.id_usuario}}/{{nomina.id_usuario}}{{nomina.fecha | fecha}}.pdf"
                    download="{{nomina.id_usuario}}{{nomina.fecha | fecha}}.pdf" class="botonMyGreen separacion"
                    type="button" *ngFor="let nomina of nominas">{{nomina.mes}}</a>

            </div>
        </div>

    </div>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"> 
        <div role="document" id="modal"
        [ngClass]="{'urgente':'modal-dialog  bordeRojo','media':'modal-dialog bordeAmarillo',
                        'baja':'modal-dialog bordeVerde'}[parte.prioridad]">
            <div class="modal-content">
                <div class="modal-header" [ngClass]="{'urgente':'headerRojo','media':'headerAmarillo',
                'baja':'headerVerde'}[parte.prioridad]">
                    <h4 class="modal-title"><span class="tituloSpan">PRIORIDAD: {{parte.prioridad}} - {{parte.fecha|fecha}}</span></h4>
                </div>
                <div class="modal-body">
                    <p>{{parte.descripcion}}</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="botonMyGreen2" (click)="closePopup()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>