<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel (eventoEntrada)="entrada($event)" (eventoSalida)="salida($event)" [estado]='estado'></app-menu-panel>
    </div>

    <div class="tarjetas">
        <div class="tareas">
            <h3 class="tituloCard separacion">TAREAS ASIGNADAS</h3>
            <div class="tareasCuerpo"
            [ngClass]="{'urgente':'tareaPendiente bordeRojo','media':'tareaPendiente bordeVerde',
                        'baja':'tareaPendiente bordeAmarillo'}[tarea.prioridad]" 
            *ngFor="let tarea of tareaSlice;let indice=index" (click)="cargarDatos(tarea)">
                    <div class="caja">
                        <div class="tarea-Izquierda">
                            <p class="tareaPrioridad {{tarea.prioridad}}">{{tarea.prioridad.toUpperCase()}}</p>
                            <p class="tareaFecha">{{tarea.fecha|fecha}}</p>
                        </div>
                        <div class="tarea-Derecha">
                            <p class="tareaDescripcion">{{tarea.descripcion}}</p>
                        </div>
                    </div>
                
            </div>
            <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li *ngFor="let pag of paginador; let indice = index" class="page-item"><a class="page-link" (click)="cargarTabla(indice)">{{indice+1}}</a></li>
                        </ul>
                      </nav>
        </div>
        <div class="descripcion">
            <h3 class="tituloCard separacionSuperior">DETALLES TAREA</h3>
            <form class="tarea-form" #tareaForm="ngForm">
                <div class="descripcion-caja">
                    <div class="descripcion-izquierda">
                        <div class="class-input urgencia">
                            <input [(ngModel)]="tarea.prioridad" type="text" name="urgencia" placeholder=" Urgencia" disabled>
                        </div>

                        <div class="class-input fecha">
                            <input [(ngModel)]="tarea.fecha" type="text" name="fecha" placeholder=" Fecha" disabled>
                        </div>
                        <button class="botonMyGreen" type="button" (click)="eliminarTarea(tarea.id_tarea)">FINALIZAR</button>
                    </div>

                    <div class="descripcion-derecha">
                        <textarea [(ngModel)]="tarea.descripcion" name="descripcion" id="descripcion" cols="40" rows="6" fixed
                            placeholder="Esto es una descripción de una tarea" disabled></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="incidencia">
            <h3 class="tituloCard separacionSuperior">GENERAR INCIDENCIA</h3>
            <div class="incidencia-caja">
                <form class="incidencia-caja" #incidenciaForm="ngForm">
                    <div class="incidencia-izquierda">
                        <div class="class-input fecha">
                            <input [(ngModel)]="incidencia.fecha" type="date" name="fecha" placeholder=" Fecha">

                        </div>
                        <button class="botonMyGreen" type="button" (click)="guardarIncidencia()">GENERAR</button>
                    </div>
                    <div class="incidencia-derecha">
                        <textarea [(ngModel)]="incidencia.descripcion"  name="descripcion2" id="descripcion2" cols="40" rows="6" fixed
                            placeholder="Esto es una descripción de una incidencia"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>