<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel></app-menu-panel>

    </div>
    <div class="cuerpo">
        <!-- <div class="formNuevaTarea"> -->
        <form class="formulario" #tareasForm="ngForm" (ngSubmit)="onSubmit(tareasForm)" class="formNuevaTarea">
            <div class="tituloFormNuevaTarea ">
                <h3 class="tituloCard">NUEVA TAREA</h3>

            </div>
            <div class="cuerpoForm">

                <div class="parteInputs">
                    <div class="parteizq">
                        <div class="fila">
                            <div class="campo">
                                <span>Prioridad</span>
                                <div class="class-input prioridad">
                                    <select name="prioridad" id="prioridad" name="prioridad" [(ngModel)]="tarea.prioridad"
                                        [ngClass]="{'is-invalid': prioridad.invalid && (prioridad.dirty || prioridad.touched)}"
                                        required #prioridad placeholder="  Prioridad..">
                                        <option value="urgente">Urgente </option>
                                        <option value="media">Media</option>
                                        <option value="baja">Baja</option>
                                    </select>
                                </div>
                                <div class="advertencia" *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched)">
                                    <p *ngIf="prioridad.errors.required">El campo prioridad es obligatorio</p>
                                </div>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="campo">
                                <span>Nombre y apellidos</span>
                                <div class="class-input estado">
                                    <select name="nombreyapellidos" id="nombreyapellidos" name="nombreyapellidos"
                                        [(ngModel)]="tarea.id_usuario" #nombreyapellidos
                                        [ngClass]="{'is-invalid': nombreyapellidos.invalid && (nombreyapellidos.dirty || nombreyapellidos.touched)}"
                                        required placeholder="  Nombre y apellidos..">
                                        <option *ngFor="let usuario of usuarios" value={{usuario.id_usuario}}>
                                            {{usuario.nombre}} {{usuario.apellidos}}</option>
                                    </select>
                                </div>
                                <div class="advertencia"
                                    *ngIf="nombreyapellidos.invalid && (nombreyapellidos.dirty || nombreyapellidos.touched)">
                                    <p *ngIf="nombreyapellidos.errors.required">El nombre es obligatorio</p>
                                </div>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="campo">
                                <span>Fecha</span>
                                <div class="class-input fecha">
                                    <input type="date" id="fecha" name="fechaTarea" [(ngModel)]='tarea.fecha'
                                        #fechaTarea="ngModel"
                                        [ngClass]="{'is-invalid': fechaTarea.invalid && (fechaTarea.dirty || fechaTarea.touched)}"
                                        required placeholder="  Fecha..." value="{{tarea.fecha | date:'yyyy-MM-dd'}}" />
                                </div>
                                <div class="advertencia" *ngIf="fechaTarea.invalid && (fechaTarea.dirty || fechaTarea.touched)">
                                    <p *ngIf="fechaTarea.errors.required">La fecha es obligatoria</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="partedcha">
                        <div class="fila">
                            <div class="campo campodescripcion">
                                <span>Descripción</span>
                                <div class="class-input descripcion">
                                    <textarea type="text" id="descripcion" name="descripcion" [(ngModel)]="tarea.descripcion"
                                        #descripcion="ngModel"
                                        [ngClass]="{'is-invalid': descripcion.invalid && (descripcion.dirty || descripcion.touched)}"
                                        required placeholder="  Descripción"></textarea>
                                </div>
                                <div class="advertencia"
                                    *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                    <p *ngIf="descripcion.errors.required">La descripcion es obligatoria</p>
                                </div>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="botonGuardar centrarBoton">
                                <button *ngIf="botonFormulario" class="botonMyGreen" id="crear-modificar" type="submit"
                                    [disabled]="!tareasForm.valid">CREAR</button>
                                <button *ngIf="!botonFormulario" class="botonMyGreen btnModificar"
                                    [disabled]="!tareasForm.valid" id="crear-modificar" type="button"
                                    (click)="modificarTarea()">MODIFICAR</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </form>
        <!-- </div> -->

        <div class="tabla-tarea">
            <div class="tablaUltimasTareas">
                <h3 class="tituloCard">TAREAS ASIGNADAS</h3>
                <table class="table table-striped table-hover" id="tablaMygreen" #tablaMygreen>
                    <thead>
                        <th scope="col" id="tablaCabecera">
                            PRIORIDAD
                        </th>
                        <th scope="col" id="tablaCabecera">
                            USUARIO
                        </th>
                        <th scope="col" id="tablaCabecera">
                            FECHA
                        </th>
                        <th scope="col" id="tablaCabecera">
                            DESCRIPCION
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tarea of tareaSlice;let indice = index " id="tablaFila">
                            <td>{{tarea.prioridad}}</td>
                            <td>{{tarea.nombre}} {{tarea.apellidos}}</td>
                            <td>{{tarea.fecha | fecha }}</td>
                            <td class="celdaDescripcion">
                                <p>{{tarea.descripcion}}</p>
                            </td>
                            <td>
                                <div class=iconos><a (click)="openPopup(indice)"><img
                                            src="../../../assets/img/iconoEliminar.png"></a><a
                                        (click)="cargarDatos(indice)"><img
                                            src="../../../assets/img/iconoModificar.png"></a></div>
                            </td>
                        </tr>

                    </tbody>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li *ngFor="let pag of paginador; let indice = index" class="page-item"><a class="page-link"
                                    (click)="cargarTabla(indice)">{{indice+1}}</a></li>
                        </ul>
                    </nav>
                </table>
            </div>
        </div>

    </div>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Seguro que desea eliminar el usuario</h4>
                </div>
                <div class="modal-body">
                    <p>Se eliminará de forma permanente en la base de datos.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="botonMyGreen2" (click)="closePopup()">
                        Cerrar
                    </button>
                    <button type="button" class="botonMyGreen2" (click)="eliminarTarea()">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>