<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>

    <div class="tarjetas">

        <form class="incidencias-form" #incidenciaForm="ngForm">
            <h3 class="tituloCard--conEspacio">DETALLES</h3>

            <div class="incidencias-form-inputs">
                <div class="parteInputs">
                    <div class="parteIzq">
                        <div class="class-input fecha">
                            <input [(ngModel)]="incidencia.fecha" type="text" name="fecha" placeholder="  Fecha..." disabled>
                        </div>
        
                        <div class="class-input finca">
                            <input [(ngModel)]="finca.direccion" type="text" name="finca" placeholder="  Finca..." disabled>
                        </div>
        
                        <div class="class-input usuario">
                            <input [(ngModel)]="usuario.nombre" type="text" name="usuario" placeholder="  Usuario..." disabled>
                        </div>
                    </div>    
                    <div class="class-input descripcion">
                        <textarea [(ngModel)]="incidencia.descripcion" name="descripcion" id="descricion" cols="40" rows="6"
                            fixed placeholder="  Esto es una descripción de una tarea" disabled></textarea>
                    </div>
                </div>
                <div class="botonMygreen-caja">
                    <button class="botonMyGreen"  type="button"
                        (click)="finalizar(incidencia)">TERMINAR</button>
                </div>
            </div>
        </form>

        <div class="incidencias">
            <h3 class="tituloCard--conEspacio">INCIDENCIAS</h3>
            <div class="indicencias-contenedor">
                <table class="table table-striped table-hover" id="tablaMygreen" #tablaMygreen>
                    <thead>
                        <th scope="col" id="tablaCabecera">
                            FECHA
                        </th>
                        <th scope="col" id="tablaCabecera">
                            USUARIO
                        </th>
                        <th scope="col" id="tablaCabecera">
                            DESCRIPCION
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incidencia of incidenciaSlice;let indice=index" id="tablaFila"
                            (click)="cargarDatos(incidencia)">
                            <td>{{incidencia.fecha |fecha}}</td>
                            <td>{{incidencia.nombre}} {{incidencia.apellidos}}</td>
                            <td class="celdaDescripcion">{{incidencia.descripcion}}</td>
                        </tr>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li *ngFor="let pag of paginador; let indice = index" class="page-item"><a
                                        class="page-link" (click)="cargarTabla(indice)">{{indice+1}}</a></li>
                            </ul>
                        </nav>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>