 /* BOTON informacion */
.container{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
 .inner {
    background: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(5% at 90% 13%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.inner:hover {
    clip-path: circle(75%);
    background: #00b6ff;
}
span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color 0.5s;
    position: relative;
    margin-right: 4%;
}
span:hover span {
    color: rgba(255, 255, 255, 0);
}
h1 {
    color: white;
    margin: 0;
}
p {
    color: white;
    font-size: 0.8rem;
}
/* ========================= */

/* grid imagenes */
.cuerpo1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 40px;
    /* padding-top: 80px; */
    /* padding-left: 50px; */
    overflow: hidden;
    /* background-color: var(--verdePrincipal);
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.103) 10%, transparent 0),
      linear-gradient( white, #8a9669 ); */
    /* background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.103) 10%, transparent 0),
      linear-gradient( #69af07, #8a9669 ); */
    /* background-image: 
    linear-gradient(to right, rgba(255,255,255,.025) 10%, transparent 0),
    linear-gradient(#222, #000); */
    /* background-size: .75em 100%, 100% 100%;
    background-attachment: fixed; */
  }

  /* --verdePrincipal: #69af07;
  --verdeSecundario: #8a9669;
  --rojowarning: rgb(243, 7, 7);
  --amariloAdvertencia: rgb(233, 191, 7);
  --verdeCorrecto: #69af07; */

.wrapper {
    /* border: 1px solid black; */
    position: relative;
    flex-grow: .2;
    max-width: 1000px;
    max-height: 1000px;    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1vmin;
    justify-content: flex-start;
    /* justify-items: center;
    align-items: center; */
    /* padding: 10px; */
    /* gap: -0.5; */
  }  
img{
    border: 1px solid var(--verdePrincipal);
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(.85) rotate(360deg);
    transition: all 1.25s;
}    
img:nth-child(7n+1) {
    grid-column: 2 / span 2;
}    
img:hover {
    z-index: 2;
    transform: scale(2);
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--verdeSecundario);
    border-radius: 8px 0 8px 0;
    padding: 0 1.5vw;
    margin: 6vh 0 0 0;
    gap: 1vh;
    backdrop-filter: saturate(180%) blur(20px);

}
.form span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 0.88em;
}
.form-input{
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 0.295) ;
    border: 1.5px solid var(--verdeSecundario);
    width: 20rem;
    border-radius: 8px;
    background-color: rgb(230, 227, 227);
    min-height: 2.5rem;
    padding: 4px 0;
}
.tituloForm h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
}
.tituloForm p{ 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
}
.recordar-contraseña{
    margin-left: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
}
.form-check label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88em;
}
.form-check a{
    color: var(--verdePrincipal);
}
.form-check-input{
    color: black;}
#boton-form{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
  

  
  