<body>
    <app-header></app-header>

    <div class="cuerpo1">

        
        <!-- <div class="wrapper">
            <img src="https://images.unsplash.com/photo-1523224042829-4731dd15a3bb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8c3ByaW5nfHx8fHx8MTY0ODc0MjYyOA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600" alt="">
            <img src="https://images.unsplash.com/photo-1491160382478-8b95e5972c96?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8cGxhbnRzfHx8fHx8MTY0ODc0NDkzMw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600" alt="">
            <img src="https://source.unsplash.com/random/600x600?plants" alt="">
            <img src="" alt="">
            <img src="https://source.unsplash.com/random/600x600?spring" alt="">
            <img src="https://source.unsplash.com/random/600x600?spring" alt="">
            <img src="" alt="">
            <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
            <img src="https://source.unsplash.com/random/600x600?spring" alt="">
            <img src="https://source.unsplash.com/random/600x600?spring" alt="">
          </div> -->
        <!-- <div class="wrapper">
            <img src="https://source.unsplash.com/random/600x600?water" alt="">
            <img src="https://source.unsplash.com/random/600x600?summer" alt="">
            <img src="https://source.unsplash.com/random/600x600?plants" alt="">
            <img src="" alt="">
            <img src="https://source.unsplash.com/random/600x600?roses" alt="">
            <img src="https://source.unsplash.com/random/600x600?sky" alt="">
            <img src="" alt="">
            <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
            <img src="https://source.unsplash.com/random/600x600?ice" alt="">
            <img src="https://source.unsplash.com/random/600x600?spring" alt="">
          </div> -->

          <div class="wrapper">
            <img src="../../../assets/img/berenjena600x600.jpg" alt="">
            <img src="../../../assets/img/Pepinos2600x600.jpg" alt="">
            <img src="../../../assets/img/Pepinos600x600.jpg" alt="">
            <img src="" alt="">
            <img src="../../../assets/img/plantones600x600.jpg" alt="">
            <img src="../../../assets/img/PimientoNaranja600x600.jpg" alt="">
            <img src="" alt="">
            <img src="../../../assets/img/PimientoRojo600x600.jpg" alt="">
            <img src="../../../assets/img/Pimierntos600x600.jpg" alt="">
            <img src="../../../assets/img/kalma600x600.jpg" alt="">
          </div>

        <form class="formulario" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="contenedor_datos_input">
            <div class="form">
                <div class="tituloForm">
                    <h2>¡Bienvenido!</h2>
                    <p>Entra en tu cuenta para controlar tu explotación.</p>
                </div>
                <span>Introduce tu e-mail</span>
                <div>
                    <input class="form-input" type="email" id="email-login" name="correo" [(ngModel)]="usuario.email" #correo="ngModel"
                    [ngClass]="{'is-invalid':correo.invalid && (correo.dirty || correo.touched)}" email required placeholder="  E-mail..." />
                    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                        <p *ngIf="correo.errors.required" class="advertencia">El correo es obligatorio</p>
                        <p *ngIf="correo.errors.email" class="advertencia">El correo no es válido</p>
                    </div>
                </div> 
                <span>Introduce tu contraseña</span>
                <div>
                    <input class="form-input" type="password" id="contraseña-login" name="password" [(ngModel)]="usuario.contrasenia" #password="ngModel"
                    [ngClass]="{'is-invalid':password.invalid && (password.dirty || password.touched)}" minlength="4" required placeholder="  Contraseña..." />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <p *ngIf="password.errors.required" class="advertencia">La contraseña es obligatoria</p>
                    </div>
                </div>
                <div class="form-check">
                    <a class="recordar-contraseña" href="/recordar-password">¿Olvidaste tu contraseña?</a>
                  </div>
                <div id="boton-form" >
                    <button class="botonMyGreen" type="submit" [disabled]="!loginForm.valid" >ENVIAR</button>
                </div>
            </div>

        </form>
    </div>
    
    <app-footer></app-footer>
</body>

