
    <body>
        <app-header></app-header>

        <!-- <div class="container">
          <div class="inner">
            <span>i</span>
            <h1>Hey</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus inventore molestiae sunt qui dignissimos, facilis quasi a placeat iste error repellendus ut nihil expedita enim distinctio porro sint, cupiditate eius.</p>
          </div>
        </div> -->


        <div class="cuerpo1">

            <div class="form">
                <div class="tituloForm">
                    <h2>¡Bienvenido!</h2>
                    <p>Entra en tu cuenta para controlar tu explotación.</p>
                </div>
                <span>Introduce tu e-mail</span>
                <div>
                    <input class="form-input" type="text" id="email-login" placeholder="  E-mail..." />
                </div> 
                <span>Introduce tu contraseña</span>
                <div>
                    <input class="form-input" type="text" id="contraseña-login" placeholder="  Contraseña..." />
                </div>
                <div class="form-check">
                    <input type="checkbox" name="remember-password" id="remember-password" class="form-check-input"/>
                    <label for="remember-password">Recordar contraseña</label>
                    <a class="recordar-contraseña" href="https://shitday.de/">¿Olvidaste tu contraseña?</a>
                  </div>
                <div id="boton-form" >
                    <a class="botonMyGreen" type="button" >ENVIAR</a>
                </div>
            </div>

            <div class="wrapper">
                <img src="https://source.unsplash.com/random/600x600?water" alt="">
                <img src="https://source.unsplash.com/random/600x600?summer" alt="">
                <img src="https://source.unsplash.com/random/600x600?plants" alt="">
                <img src="https://source.unsplash.com/random/600x600?snow" alt="">
                <img src="https://source.unsplash.com/random/600x600?roses" alt="">
                <img src="https://source.unsplash.com/random/600x600?sky" alt="">
                <img src="https://source.unsplash.com/random/600x600?nature" alt="">
                <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
                <img src="https://source.unsplash.com/random/600x600?ice" alt="">
                <img src="https://source.unsplash.com/random/600x600?spring" alt="">
              </div>


        </div>

        
        <app-footer></app-footer>
      </body>










    
  

