<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>

    <div class="tarjetas">
        <div class="historial">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Humedad y Temperatura">
                    <div class="fechas">
                        <span>Fecha inicio</span>
                        <div class="fechaInicio class-input">
                            <input type="date" class="inputFechaInico" placeholder="Fecha inicial" #tyhInicio />
                        </div>
                        <span>Fecha fin</span>
                        <div class="fechaFin class-input">
                            <input type="date" class="inputFechaFin" placeholder="Fecha final" #tyhFin />
                        </div>
                        <div class="botonBuscar">
                            <a class="botonMyGreen" type="button"
                                (click)="buscarHumedadTemperatura(tyhFin.value,tyhInicio.value)">BUSCAR</a>
                        </div>
                    </div>
                    <div class="graficaTension">

                        <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Tensión Matricial">
                    <div class="fechas">
                        <span>Fecha inicio</span>
                        <div class="fechaInicio class-input">
                            <input type="date" class="inputFechaInico" placeholder="Fecha inicial" #tensionInicio />
                        </div>
                        <span>Fecha fin</span>
                        <div class="fechaFin class-input">
                            <input type="date" class="inputFechaFin" placeholder="Fecha final" #tensionFin />
                        </div>
                        <div class="botonBuscar">
                            <a class="botonMyGreen" type="button"
                                (click)="buscarTension(tensionFin.value,tensionInicio.value   )">BUSCAR</a>
                        </div>
                    </div>
                    <div class="graficaTension">
                        <div echarts [options]="options2" class="demo-chart"></div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>