<div class="contenido">
    <div class="header">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menu">
        <app-menu-panel></app-menu-panel>
    </div>
    
    <div class="tarjetas">
        <div class="historial">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Historial 1">
                    <div class="fechas">
                        <div class="fechaInicio class-input">
                            <input type="date" class="inputFechaInico" placeholder="Fecha inicial" />
                        </div>
                        <div class="fechaFin class-input">
                            <input type="date" class="inputFechaFin" placeholder="Fecha final" />
                        </div>
                        <div class="botonBuscar">
                            <a class="botonMyGreen" type="button" >BUSCAR</a>
                        </div>
                    </div>
                    <div class="graficaTension">
                        <echarts [initOpts]="initOpts" [options]="option"></echarts>
                    </div>
                </mat-tab>
                <mat-tab label="Historial 2">
                    <div class="fechas">
                        <div class="fechaInicio class-input">
                            <input type="date" class="inputFechaInico" placeholder="Fecha inicial" />
                        </div>
                        <div class="fechaFin class-input">
                            <input type="date" class="inputFechaFin" placeholder="Fecha final" />
                        </div>
                        <div class="botonBuscar">
                            <a class="botonMyGreen" type="button" >BUSCAR</a>
                        </div>
                    </div>
                    <div class="graficaTension">
                        <div echarts [options]="options2" class="demo-chart"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Historial 3">
                    <div class="fechas">
                        <div class="fechaInicio class-input">
                            <input type="date" class="inputFechaInico" placeholder="Fecha inicial" />
                        </div>
                        <div class="fechaFin class-input">
                            <input type="date" class="inputFechaFin" placeholder="Fecha final" />
                        </div>
                        <div class="botonBuscar">
                            <a class="botonMyGreen" type="button" >BUSCAR</a>
                        </div>
                    </div>
                    <div class="graficaTension">
                        <img src="../../../assets/img/graficaTension.png" alt="">
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
</div>

