<div class="contenedor">
    <div class="cabecera">
        <app-header-panel></app-header-panel>
    </div>
    <div class="menuppal">
        <app-menu-panel (eventoEntrada)="entrada($event)" (eventoSalida)="salida($event)"></app-menu-panel>

    </div>
    <div class="cuerpo">
        <div class="datosCuerpo">
            <div class="tituloFichajes tituloCard">
                <h2 class="tituloCard">ÚLTIMOS FICHAJES</h2>
            </div>
            <div class="cuerpoTabla">
                <div class="tablaUltimosFichajes">
                    <table class="table table-striped table-hover" id="tablaMygreen" #tablaMygreen>
                        <thead>
                            <th scope="col" id="tablaCabecera">
                                FECHA
                            </th>
                            <th scope="col" id="tablaCabecera">
                                ENTRADA
                            </th>
                            <th scope="col" id="tablaCabecera">
                                SALIDA
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fichaje of fichajes" id="tablaFila">
                                <td>{{fichaje.fecha | fecha}}</td>
                                <td>{{fichaje.entrada}}</td>
                                <td>{{fichaje.salida}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>