@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --grisOscuro : #414141;
    --verdePrincipal: #69AF07;
    --verdeSecundario: #8A9669;
    --fondo: #F4F4F4;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto Condensed', sans-serif;
    --sombra: 4px 4px 4px grey;
    --borde: 3px solid var(--verdeSecundario);
    --titulos: #887848;
    --rojowarning: rgb(243, 7, 7);
    --amariloAdvertencia: rgb(233, 191, 7);
    --verdeCorrecto: #69af07;
    --clima: #4D99CF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.tituloCard, .tituloCard2{
    color: var(--titulos);
    font-family: var(--roboto);
    font-size: 23px;
    padding-top: 10px;
}

.tituloCardSub{
    color: var(--titulos);
    font-family: var(--roboto);
    font-size: 15px;
    padding-left: 15px;
}