@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --grisOscuro: #414141;
  --verdePrincipal: #69af07;
  --verdeSecundario: #8a9669;
  --rojowarning: rgb(243, 7, 7);
  --amariloAdvertencia: rgb(233, 191, 7);
  --verdeCorrecto: #69af07;
  --clima: #4d99cf;
  --fondo: #f4f4f4;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto Condensed", sans-serif;
  --sombra: 4px 4px 4px grey;
  --borde: 3px solid var(--verdeSecundario);
  --titulos: #887848;
  --color-green: #00a878;
  --color-red: #fe5e41;
  --color-button: #fdffff;
  --color-black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none!important;
}

.tituloCard,
.tituloCard2 {
  color: var(--titulos);
  font-family: var(--roboto);
  font-size: 23px;
  padding-top: 10px;
}

.tituloCard--sinmargen{
  color: var(--titulos);
  font-family: var(--roboto);
  font-size: 23px;
  margin: 0 !important;
}

.tituloCardSub {
  color: var(--titulos);
  font-family: var(--roboto);
  font-size: 15px;
  padding-left: 15px;
}

#tablaCabecera{
  text-align: center;
  font-family: var(--roboto);
  font-size: 15px;
  color: var(--verdeSecundario);
}

#tablaFila{
  text-align: center;
  font-family: var(--lato);
  font-size: 14px;
  color: var(--grisOscuro);
}

#tablaMygreen{
  margin-top: 5px;
  border: 1px solid rgba(141, 141, 141, 0.377);
  box-shadow: var(--sombra);
}

.class-input {
  background-image: url(../src/assets/img/calendario.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  height: 30px;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 3px;
  margin-right: 10px;
  width: 100%;
  max-width: 300px;
}

.class-input input {
  height: 30px;
  width: 100%;
  /* margin: 5px; */
  text-align: center;
  background-color: #f4f4f4;
  border-left: 1px solid rgb(124, 124, 124);
  border-top: 1px solid rgb(124, 124, 124);
  border-bottom: 1px solid rgb(124, 124, 124);
  border-right: none;
}

.class-input input:focus {
  outline: none;
}
