@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --grisOscuro : #414141;
    --verdePrincipal: #69AF07;
    --verdeSecundario: #8A9669;
    --fondo: #F4F4F4;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto Condensed', sans-serif;
}